### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [292]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [293]:
total_players=len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [294]:
#Run basic calculations to obtain number of unique items, average price, etc.
number_items=len(purchase_data["Item ID"].unique())
number_items

183

In [295]:
number_purchases= purchase_data["Purchase ID"].count()
number_purchases

780

In [296]:
#.astype(float).map("${:,.2f}".format)
total_revenue=(purchase_data["Price"].sum())
total_revenue

2379.77

In [297]:
#
#format currency
#
average_price=format((total_purchase/number_purchases), ",.2f")
average_price

'3.05'

In [298]:
#Create a summary data frame to hold the results

summary={"Number of Unique Items":[number_items],
         "Average Price":[average_price],
         "Number of Purchases":[number_purchases],
         "Total Revenue": [total_revenue] }

summary_df=pd.DataFrame(summary)

##Optional: give the displayed data cleaner formatting
#Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183          3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [299]:
#Retrieve the Item ID, Gender and Age columns (personal data)
gender_name_df=purchase_data.loc[:,['SN', 'Gender', 'Age']] 

#Dropping duplicates (people that perchased more than 1 time)
dropped_gender_name_df=pd.DataFrame(gender_name_df.drop_duplicates(subset=None, keep='first', inplace=False))

#Grouping claened df by gender
gender_group=dropped_gender_name_df.groupby("Gender")

#Calculate the numbers and percentages by gender
#Create a summary data frame to hold the results
gender_group_demographics=pd.DataFrame(gender_group["SN"].count())
gender_group_demographics=gender_group_demographics.rename(columns={"SN":"Number"})
percent=gender_group_demographics["Number"]/total_players
gender_group_demographics["Percent"]=percent

#Sorting data by number/percent
gender_group_demographics.sort_values("Number", ascending=False)

#Display the summary data frame
gender_group_demographics

                       Number   Percent
Gender
Female                     81  0.140625
Male                      484  0.840278
Other / Non-Disclosed      11  0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [300]:
#Grouping original dataframe by gender
gender_group_main=purchase_data.groupby("Gender")

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
gender_group_main_purchasing=pd.DataFrame(gender_group_main["Purchase ID"].count())
gender_group_main_purchasing=gender_group_main_purchasing.rename(columns={"Purchase ID":"Purchase Count"})
gender_group_main_purchasing["Average Purchase Price"]=gender_group_main["Price"].mean()
gender_group_main_purchasing["Total Purchase Value"]=gender_group_main["Price"].sum()
average_price_person= gender_group_main_purchasing["Total Purchase Value"]/gender_group_demographics["Number"]
gender_group_main_purchasing["Avg Total Purchase per Person"]=average_price_person

###Optional: give the displayed data cleaner formatting

#Display the summary data frame
gender_group_main_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [301]:
#Establish bins for ages
bins=[0,9,14,19,24,29,34,39,120]
group_labels= ["<10", "10-14", "15-19","20-24","25-29", "30-34", "35-39", "40+"]

In [302]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
dropped_gender_name_df["Age Group"]=pd.cut(dropped_gender_name_df["Age"], bins, labels=group_labels)
dropped_gender_name_df.head()

              SN Gender  Age Age Group
0        Lisim78   Male   20     20-24
1    Lisovynya38   Male   40       40+
2     Ithergue48   Male   24     20-24
3  Chamassasya86   Male   24     20-24
4      Iskosia90   Male   23     20-24

In [303]:
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
age_group=dropped_gender_name_df.groupby("Age Group")
age_group_demographics=pd.DataFrame(age_group["SN"].count())

#Renaming the column SN
age_group_demographics=age_group_demographics.rename(columns={"SN":"Number"})

#Calculating percentage and creating a column
age_group_demographics["Percentage of Players"]=age_group_demographics["Number"]/total_players

#Display Age Demographics Table
age_group_demographics

           Number  Percentage of Players
Age Group
<10            17               0.029514
10-14          22               0.038194
15-19         107               0.185764
20-24         258               0.447917
25-29          77               0.133681
30-34          52               0.090278
35-39          31               0.053819
40+            12               0.020833

In [304]:

#########Optional: round the percentage column to two decimal points

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [305]:
#Bin the purchase_data data frame by age
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
purchase_data_age_group=purchase_data.groupby("Age Group")
purchase_data_age_analysis=pd.DataFrame(purchase_data_age_group["Purchase ID"].count())
purchase_data_age_analysis["Average Purchase Price"]=purchase_data_age_group["Price"].mean()
purchase_data_age_analysis["Total Purchase Value"]= purchase_data_age_group["Price"].sum()
purchase_data_age_analysis["Avg Total Purchase per Person"]=(purchase_data_age_group["Price"].sum())/age_group_demographics["Number"]

#Renaming the column Purchase ID
purchase_data_age_analysis=purchase_data_age_analysis.rename(columns={"Purchase ID":"Purchase Count"})

######Optional: give the displayed data cleaner formatting

#Display the summary data frame
purchase_data_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [306]:
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
purchase_data_SN_group=purchase_data.groupby("SN")
purchase_data_SN_spenders=pd.DataFrame(purchase_data_SN_group["Purchase ID"].count())
purchase_data_SN_spenders=purchase_data_SN_spenders.rename(columns={"Purchase ID":"Purchase Count"})
purchase_data_SN_spenders["Average Purchase Price"]=purchase_data_SN_group["Price"].mean()
purchase_data_SN_spenders["Total Purchase Value"]=purchase_data_SN_group["Price"].sum()

#Sort the total purchase value column in descending order
purchase_data_SN_spenders = purchase_data_SN_spenders.sort_values("Total Purchase Value", ascending=False)

#Display a preview of the summary data frame
purchase_data_SN_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [307]:
#Retrieve the Item ID, Item Name, and Item Price columns
items_df=purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
items_df_group=items_df.groupby(["Item ID", "Item Name"])
items_df_group_popular=pd.DataFrame(items_df_group["Item ID"].count())
items_df_group_popular=items_df_group_popular.rename(columns={"Item ID":"Purchase Count"})
items_df_group_popular["Item Price"]=items_df_group["Price"].first()
items_df_group_popular["Total Purchase Value"]=items_df_group["Price"].sum()

#Sort the purchase count column in descending order
items_df_group_popular = items_df_group_popular.sort_values("Purchase Count", ascending=False)

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame
items_df_group_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [308]:
#Sort the above table by total purchase value in descending order
items_df_group_popular = items_df_group_popular.sort_values("Total Purchase Value", ascending=False)

#Optional: give the displayed data cleaner formatting

#Display a preview of the data frame
items_df_group_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80